body {
    font-family: 'DM Sans', serif;
    font-optical-sizing: auto;
    font-size: 18px;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexcol {
    display: flex;
    flex-direction: column;
}

.flexcol>* {
    flex: 1;
}

.flexrow>* {
    flex: 1;
}

.no-display {
    display: none;
}

#stats {
    flex: 0 0;
    width: 225px;
}

#stats > * {
    margin: 0 15px 0 0;
}

#details {
    flex: 0;
}

#details > * {
    margin: 0 0 8px 0;
}

#types > * {
    margin: 0 5px 0 0;
}

.stat {
    justify-content: left;
    display: flex;
    flex-direction: row;
    flex: 0;
    text-align: left;
}

.stat .label {
    text-align: left;
    flex: 2;
}

.stat .value {
    text-align: right;
    flex: 1;
}

#portrait {
    border: 1px solid black;
    margin: 0 5px 0 0;
    flex: 0 0;
    image-rendering: pixelated;
}